@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.app {
    background-color: #FFC97B;
    padding-bottom: 25px;
}
.top-nav {
    background-color: #07CAA1;
    font-family: 'Righteous';
    /* font-family: I WANT TO MAKE THIS KISMET NF, need to find out how */
}

.nav-brand {
    font-size: 25pt;
    color: whitesmoke;
}
.nav-brand:hover {
    color: #FFC97B;
    text-decoration: none;
}

.top-nav-link {
    color: whitesmoke;
}

.top-nav-link:hover {
    color: #FFC97B;
    text-decoration: none;
}

.movie-title {
    font-weight: bold;
}

.profile-card-name {
    font-weight: bold;
}

.profile-card {
    padding: 5px;
}

.profile-email {
    font-size: 12px;
    padding-bottom: 10px;
}

.profile-card-body {
    padding: 3px;
}

.check-in-list {
    background-color: whitesmoke;
}

.edit-header {
    color: #07CAA1;
}

.edit-user-form {
    background-color: whitesmoke;
    padding-left: 30px;
    padding-right: 30px; 
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.profile-checkin-list {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

