@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.app {
    background-color: #FFC97B;
}
.top-nav {
    background-color: #07CAA1;
    font-family: 'Righteous';
    /* font-family: I WANT TO MAKE THIS KISMET NF, need to find out how */
}

.nav-brand {
    font-size: 25pt;
    color: whitesmoke;
}
.nav-brand:hover {
    color: #FFC97B;
    text-decoration: none;
}

.top-nav-link {
    color: whitesmoke;
}

.top-nav-link:hover {
    color: #FFC97B;
    text-decoration: none;
}

.movie-title {
    font-weight: bold;
}

.check-in-card {
    
}

.check-in-list {
    background-color: whitesmoke;
}